*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 25rem;
    height: 49rem;
    background-color:rgb(0, 0, 0);
    display: grid;
    padding: 1%;
    border-radius: 4rem;
    border: #A5A5A5 4px solid;
}

#screens{
    display: grid;
    grid-template-columns: 4fr;
    height: 9rem;
    background-color: rgb(24, 24, 24);
    margin-top: 5rem;
    color:white;
}
#screen1{
    color: white;
    font-size: 1.5rem;
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
}
#screen2{
    color: white;
    font-size: 2.5rem;
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
    width: 22rem;
}
#mob_but{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.2rem 0.1rem;
    margin-bottom: 3rem;
    align-self: center;
    font-size: 2rem;
    padding-left: 0.7rem;
    
}

.buttons{
    display: flex;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-top: 1.2rem;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    opacity: 0.9;
}

.buttons:hover{
    opacity: 1;
    cursor: pointer;
}

.button0{
    grid-column: 1/3;
    width: 11rem;
    border-radius: 5rem;
    justify-content: flex-start;
    padding-left: 2rem;
    background-color: #333333;
    color: white;
}
.divide,.multiply,.minus,.add,.equal{
    background-color: #FE9505;
    color: white;
}
.AC,.change,.modulus{
    background-color:#A5A5A5;
}

.button7,.button8,.button9,.button4,.button5,.button6,.button1,.button2,.button3,.button17,.comma{
    background-color: #333333;
    color: white;
}




